<div class="card">
    <div class="row card-body container">
        <div class="form-group col-sm-4">
          <label for="ccmonth">City</label>
          <select class="form-control" id="ccmonth" >
            <option  value="" ></option>
          </select>
        </div>
        <div class="form-group col-sm-4">
          <label for="ccyear">Hotel Name</label>
          <select class="form-control" id="ccyear">
            <option value=""></option>
          </select>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="cvv">Search By Name</label>
            <input type="text" class="form-control" id="cvv" placeholder="123">
          </div>
        </div>
    </div><!--/.row-->
    
    <div class="card-body container">
        <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Hotel Name</th>
                <th>Single Rooms</th>
                <th>Single Room Price</th>
                <th>Double Room</th>
                <th>Double Room Price</th>
                <th>Family Room</th>
                <th>Family Room Price</th>
                <th>Hotel Rating</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let list of HotelInfo">
                <td>{{list.hotelname}}</td>
                <td>{{list.singleroom}}</td>
                <td>{{list.singleroomprice}}</td>
                <td>{{list.doubleroom}}</td>
                <td>{{list.doubleroomprice}}</td>
                <td>{{list.familyroom}}</td>
                <td>{{list.familyroomprice}}</td>
                <td>{{list.hotelrating}}</td>
                <td>{{list.status}}</td>
                <td><button type="button" class="btn  btn-outline-primary active fa fa-edit"></button></td>
                <td><button type="button" class="btn  btn-outline-danger active fa fa-close"></button></td>
              </tr>
             
            </tbody>
          </table>
      </div>
    </div>